variables:
  # renovate: datasource=docker depName=hashicorp/terraform
  TERRAFORM_IMAGE: hashicorp/terraform:1.10.1
  MODULE_PIPELINE: "true"
include:
  - project: Ackee/gitlab-ci-templates
    ref: terraform/v1.10.0
    file: terraform/pipeline.yml
